.container {
  background: rgba(10, 10, 25, 0.7);
  display: flex;
  padding: 10px 11px 10px 10px;
  flex-direction: column;
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

