.container {
  background: #0F1522;
  display: flex;
  padding: 10px 11px 10px 10px;
  flex-direction: column;
  width: 180px;
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

