.container {
  background: #111623;
  display: flex;
  flex-direction: column;
  width: 180px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(#4b576d, 0.25);

  .logoText {
    color: #667084;
    text-transform: uppercase;
    font-size: 0.65em;
    line-height: 1.4;
    font-weight: 600;
    padding-left: 10px;
    width: 100%;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
  }

  .logoImage {
    width: 22px;
  }
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

