@import 'variables';

.container {
  position: relative;
  width: 100%;
}

.chart {
  position: absolute;
  bottom: -5px;
  left: -5px;
  right: -5px;
}

.value {
  display: inline-block;
  background-color: var(--color-white);
  border: 1px solid #DAE1E9;
  color: #7F96B4;
  padding: 7px;
  line-height: 1;
  border-radius: 3px;
  position: relative;

  .unit {
    display: inline-block;
    font-size: 0.8em;
    vertical-align: top;
    padding-top: 1px;
    padding-left: 2px;
  }
}
