{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel",
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@resources": "./resources",
        "components": "./src/components",
        "services": "./src/services",
        "styles": "./src/styles"
      },
    }],
  ],
}
