[submodule "esp8266/libs/adafruit-bme280"]
	path = esp8266/libs/adafruit-bme280
	url = https://github.com/adafruit/Adafruit_BME280_Library.git
[submodule "esp8266/libs/adafruit-sensor"]
	path = esp8266/libs/adafruit-sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "esp8266/libs/adafruit-sgp30"]
	path = esp8266/libs/adafruit-sgp30
	url = https://github.com/adafruit/Adafruit_SGP30.git
