[submodule "src/esp8266/libs/adafruit-bme280"]
	path = src/esp8266/libs/adafruit-bme280
	url = https://github.com/adafruit/Adafruit_BME280_Library.git
[submodule "src/esp8266/libs/adafruit-sensor"]
	path = src/esp8266/libs/adafruit-sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "src/esp8266/libs/adafruit-sgp30"]
	path = src/esp8266/libs/adafruit-sgp30
	url = https://github.com/adafruit/Adafruit_SGP30.git
[submodule "src/esp8266/libs/bh1750"]
	path = src/esp8266/libs/bh1750
	url = https://github.com/claws/BH1750.git
