@import 'variables';

.container {
  width: 100%;
  padding: 10px;

  .content {
    padding: 20px 15px;
    text-align: center;
  }

  .value {
    display: inline-block;
    font-size: 3em;
  }

  .unit {
    display: inline-block;
    font-size: 2em;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 5px;
    opacity: 0.75;
  }

  .label {
    display: block;
    text-transform: uppercase;
    color: var(--color-light-gray-blue);
    font-size: 0.9em;
    font-weight: var(--font-weight-medium);
    margin-top: 5px;
    position: relative;
    z-index: 1;
  }

  .chart {
    margin: -50px -20px -30px;
  }
}

@media(max-width: 900px) {
  .container {
    .label {
      margin-top: 0;
    }

    .content {
      padding: 20px 15px;
    }
  }
}
