@import 'variables';

html,
body,
[id='root'] {
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.8em;
  line-height: 1.8;
  font-family: var(--font-family-default);
  background: linear-gradient(260deg, #1e1c2d, transparent), linear-gradient(180deg, #34364c, #1e1c2d);
  color: var(--color-black);
}

[id='root'] {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: var(--font-weight-bold);
}

em {
  font-weight: var(--font-weight-medium);
}

p {
  margin-bottom: 15px;
}
