.container,
.container:after {
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

.container {
  position: relative;
  text-indent: -9999em;
  border: 0.2em solid rgba(255, 255, 255, 0.25);
  border-left: 0.2em solid rgba(255, 255, 255, 0.75);
  transform: translateZ(0);
  animation: load8 0.75s infinite linear;
  opacity: 0.25;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
