@import 'reset';
@import 'variables';
@import 'mixins';
@import 'fonts';

body {
  background-color: #143B73;
  background-image: linear-gradient(130deg, #143B73, #3373AD);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-family-default);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  color: var(--color-dark-gray-blue);
  overflow: hidden;
}

html,
body,
.root {
  min-height: 100%;
  height: 100%;
}

b,
strong {
  font-weight: var(--font-weight-medium);
}
