@import 'variables';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.list {
  list-style: inside disc;
}

.heading {
  color: rgba(var(--color-white), 0.9);
  font-weight: var(--font-weight-medium);
  border-bottom: 1px solid rgba(var(--color-white), 0.1);
  padding: 15px 25px;
  font-size: 1.2em;
}

.content {
  padding: 25px;
  display: flex;
  flex-direction: row;
  margin: -10px;
}
