@import 'variables';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list {
  list-style: inside disc;
}

.heading {
  color: rgba(var(--color-white), 0.9);
  font-weight: var(--font-weight-medium);
  border-bottom: 1px solid rgba(var(--color-white), 0.1);
  padding: 15px 25px;
  font-size: 1.2em;
}

.content {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.chartRow {
  flex: 1;
  padding: 10px;
}

.chart {
  display: flex;
  flex: 1;
}

.chartBox {
  display: flex;
  flex-direction: column;
}

@media(max-width: 900px) {
  .content {
    flex-direction: column;
  }

  .rowSensors {
    display: none;
  }
}

@media(max-width: 800px) {
  .heading {
    padding: 10px 15px;
    font-size: 1.1em;
  }

  .content {
    padding: 5px;
  }
}
