@import 'variables';

.container {
  height: 100%;
}

.list {
  list-style: inside disc;
}

.heading {
  color: rgba(var(--color-white), 0.9);
  font-weight: var(--font-weight-medium);
  border-bottom: 1px solid rgba(var(--color-white), 0.1);
  padding: 15px 25px;
  font-size: 1.2em;
}

.content {
  padding: 25px 15px;
  display: flex;
}

.sensorBox {
  max-width: 20%;
}

@media(max-width: 1100px) {
  .sensorBox {
    font-size: 0.9em;
  }
}

@media(max-width: 960px) {
  .sensorBox {
    font-size: 0.8em;
  }
}

@media(max-width: 900px) {
  .content {
    flex-direction: column;
  }

  .sensorBox {
    font-size: 1em;
    max-width: 100%;
  }
}
