@import '../../styles/variables.css';

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: calc(1/2 * 100)%;
}

.cell {
  flex-direction: column;
  display: flex;
  height: calc(1/3 * 100)%;
  padding: 10px 25px 5px 0;

  .content {
    padding-left: 55px;
  }
}

.chartLabel {
  font-size: 0.55em;
  font-weight: var(--font-weight-bold);
  color: rgba(#FFF, 0.5);
  display: block;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
}

.infoRow {
  display: flex;
  flex-direction: row;
}

.infoColumnFill {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 25px;
}

.label {
  font-size: 0.55em;
  font-weight: var(--font-weight-bold);
  color: rgba(#FFF, 0.5);
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.timeRangeSelector {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  font-size: 0.7em;
  font-weight: var(--font-weight-bold);
  display: inline-block;
  width: auto;

  li {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    color: rgba(#FFF, 0.75);

    &.active {
      background: rgba(#FFF, 0.05);
      color: #FFF;
    }

    & + li {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}

.activity {
  display: block;
  font-size: 0.55em;
  color: #FFF;
}
