@keyframes highlightIncrease {
  0% {
    color: #55efc4;
  }
  25% {
    color: #55efc4;
  }
  100% {
    color: inherit;
  }
}

@keyframes highlightDecrease {
  0% {
    color: #ff7675;
  }
  25% {
    color: #ff7675;
  }
  100% {
    color: inherit;
  }
}

.increase {
  animation: highlightIncrease 1.5s;
}

.decrease {
  animation: highlightDecrease 1.5s;
}
