.container {
  border: 1px solid #1f293d;
  border-radius: 3px;
  font-size: 0.6em;
  font-weight: 600;

  li {
    color: #263044;
    padding: 6px 4px;
    cursor: pointer;
    text-align: center;
    user-select: none;

    &:hover {
      color: #414c63;
    }

    &.active {
      background: #1f293d;
      color: #62718e;
      cursor: default;
    }
  }
}
