.container {
  font-size: 0.6em;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;

  li {
    color: #4b576d;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    display: block;

    &:hover {
      color: #667084;
    }

    &.active {
      color: #a6b0c1;
      cursor: default;
    }
  }
}
